div#single-issue-page{
    background-color: #f9f9f9;
    font-family: 'iransans';
    --_bg:var(--bg-secondary,black);

}
div#single-issue-page div#header-container{
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.06);

}
div#single-issue-page div#header-container div.menu-right nav>ul>li>a{
    color: #444;
    text-shadow: none;


}
div#single-issue-page div#header-container div.menu-right button.search{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
    font-family: 'iransans';
    color: #444;
    font-weight: 300;
    font-size: 14px;
    border: none;
    background-color: rgba(255, 0, 0, 0);

}

div#single-issue-page div#header-container div.menu-right button.search span{
    padding: 7px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #444;
}
div#single-issue-page div#header-container div.menu-right button.search svg{
    /* background-color: #444; */
    /* padding: 10px; */
    /* border-radius: 100%; */
    fill: white;
    width: 100%;
    height: 100%;
}


div#single-issue-page div#single-issue-page-main{
    margin-top: 50px;
    padding: 50px 0;
    background-color: white;

}










div#single-issue-page div#single-issue-page-main>div.container>div.sticky>div.body-container{
    width: 75%;
}
div#single-issue-page div#single-issue-page-main>div.container>div.sticky>aside.side-container{
    position: relative;
    width: 25%;
}
div#single-issue-page div#single-issue-page-main>div.container>div.sticky>aside.side-container>div.aside-wrapper{
    position: relative;
    /* top: ; */

}
div#single-issue-page div#single-issue-page-main>div.container>div.sticky>aside.side-container>div.aside-wrapper div.latest-posts a.item{
    aspect-ratio: 3/2;
    width: 100%;
    background-color: green;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;

}
div#single-issue-page div#single-issue-page-main>div.container>div.sticky>aside.side-container>div.aside-wrapper div.latest-posts a.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .5s;
    transform: scale(1);


}
div#single-issue-page div#single-issue-page-main>div.container>div.sticky>aside.side-container>div.aside-wrapper div.latest-posts a.item:hover img{

    transform: scale(1.2);

}
div#single-issue-page div#single-issue-page-main>div.container>div.sticky>aside.side-container>div.aside-wrapper div.latest-posts a.item span.title{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 35, 0.596);
    display: flex;
    justify-content: center;
    align-items: center;
}
div#single-issue-page div#single-issue-page-main>div.container>div.sticky>aside.side-container>div.aside-wrapper div.latest-posts a.item span.title h4{
    color: whitesmoke;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.941);
    font-weight: 300;
    font-size: 16px;
    padding: 20px;
    line-height: 1.7rem;
}
div#single-issue-page div#single-issue-page-main>div.container>div.sticky>aside.side-container>div.aside-wrapper div.latest-posts a.item div.bottom{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 10px 20px;
}
div#single-issue-page div#single-issue-page-main>div.container>div.sticky>aside.side-container>div.aside-wrapper div.latest-posts a.item div.bottom>span{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    color: whitesmoke;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.941);
    font-size: 13px;
    font-weight: 200;
}

